* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06283d;
  min-height: 100vh;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
}
.search-box i {
  font-size: 27px;
  color: #06283d;
}
.search-box input {
  border: none;
  color: #06283d;
  outline: none;
  font-size: 1.5rem;
  margin: 0 0.3rem;
  text-transform: uppercase;
}
.search-box input::placeholder {
  color: #06283d;
  text-transform: capitalize;
}
.search-box button {
  color: #06283d;
  border-radius: 50%;
  background-color: #dff6ff;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}
.not-found {
  display: none;
  scale: 0;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.not-found img {
  width: 70%;
  height: 70%;
}
.not-found p {
  color: #06283d;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.wether-box {
  display: none;
  scale: 0;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.wether-box img {
  height: 200px;
}
.wether-box__info {
  color: #06283d;
  margin-bottom: 4rem;
}
.tempreture {
  font-size: 4rem;
  font-weight: 700;
}
.tempreture span {
  font-size: 1.2rem;
  vertical-align: top;
}
.description {
  font-weight: 500;
  font-size: 1.5rem;
}
.wether-details {
  display: none;
  opacity: 0;
  scale: 0;
  justify-content: space-around;
}
.humidity,
.wind {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wether-details i {
  font-size: 1.75rem;
  color: #06283d;
}

.text span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #06283d;
}
.text p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #06283d;
}
.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
